doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body
        .container
            .row.recipe
                .name= recipe.name
                .difficulty= recipe.difficulty
                button(href='/recipes/' + recipe.id) Edit
                button X